body {
	margin: 0;
	padding: 0;
	font-family: 'Teko', sans-serif;
}

.home{
    background-image: url(sumit.jpg);
    background-size: cover;
    background-position:center ;
    height: 100vh;
}
nav{
    text-align: center;
    padding-top: 2%;
}
.logo{
    display:inline-block;
    color:#fff;
    text-transform: capitalize;
    font-weight:bold;
    font-size:40px;
    font-family: 'Cookie', cursive;


}
nav a{
    text-decoration:none;
    color:#fff;
    text-transform: capitalize;
    font-size: 20px;
    margin:0 20px;
    letter-spacing:3px;

}
nav a:hover{
    color:aquamarine;
}
.logo:hover{
    color:greenyellow;
}
.banner-area {
    position:absolute;
    top:50%;
    left:50%;
    text-align: center;
	transform: translate(-50%, -50%);
}
.banner-area h2{
     margin:0;
     padding: 0;
     color:#fff;
     font-size: 3em;
     line-height:0;

}
.banner-area h3 {
	font-size: 100px;
	text-transform: capitalize;
	color: #fff;
	margin: 0 0 40px 0;
	font-family: cookie;
}
.banner-area h2 span{
    color:deepskyblue;
}
.banner-area a{
    display:inline-block;
    margin-top: 50px;
    text-decoration: none;
    color: #fff;
	background: deepskyblue;
    padding:10px 30px;
    font-size: 20px;
    text-transform: uppercase;
	letter-spacing: 3px;
}

@media(max-width:800px){
    .banner-area h2{
        font-size: 1.5em;
    }
    .banner-area a{
        font-size: 10px;
    }
    .banner-area h3{
        font-size: 60px;
    }
    nav a{
        margin:0 10px;
    }
}